################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommunityPatch/FileContentIndex
/.vs/slnx.sqlite

*.dds
*.png
*.fdb
*.met
*.wav
*.mp3
*.anm
*.xml
*.cab
*.bik
*.bba
*.exe
*.uva
*.fx
*.dff
*.bin
*.lua
*.dll
*.m3d
*.asi
*.grp
*.tgp
*.s5x
*.jpg
*.bak
*.pdf
*.state
*.manifest
